/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */
@font-face {
  font-family: 'NotoSansKR';
  src: url('./font/NotoSansKR-Regular.otf');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'NotoSansKR';
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
